.bg-image {
    background-image: url('../img/banner-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}


.bg-shadow {
    background-color: rgba(0, 0, 0, 0.452);
}


.bg-brown-light {
    background-color: #A5966F;
}

p i {
    color: #A5966F;
    font-size: 20px;
}